@use '../styles/colors.scss' as c;

.detail-container{
    width: 100vw;
    display: flex;
    justify-content: center;
}

.pokemon-detail{
    margin: auto;
    margin-top: 13vh;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 60vw;
    background:c.$gradient-card-bg;
    


    &__name{
        font-size: 2rem;
        color: rgb(36, 36, 36);

    }
    &__images{
        display: flex;
        flex-direction: row;
        
        &--image{
            margin: 1rem;

          

           &>img{
               height: 200px;
               width: 200px;
           }

        }
    }

    &__stats{
        display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    

    &>*{
        margin: 0 2vw;
    }

    }

    &__buttons-area{
        margin: 5vh 0;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }

}