<div class="pokemon-detail">
  <h3 class="pokemon-detail__name">{{ stats.name }}</h3>
  <div class="pokemon-detail__images">
    <div class="pokemon-detail__images--image">
      <img [src]="leftImage" />
    </div>
    <div class="pokemon-detail__images--image">
      <img [src]="rightImage" />
    </div>
  </div>
  <div class="pokemon-detail__stats">
    <app-pokemon-detail-stats [stats]="stats"></app-pokemon-detail-stats>
    <app-one-row-table [head]="'Type'" [rows]="types"></app-one-row-table>
    <app-one-row-table
      [head]="'Abilities'"
      [rows]="abilities"
    ></app-one-row-table>
  </div>
  <div class="pokemon-detail__buttons-area">
    <app-button
      [text]="'Previous'"
      (goToPokemon)="goToNextPoke(+stats.id - 1)"
    ></app-button>
    <app-button
      [text]="'Next'"
      (goToPokemon)="goToNextPoke(+stats.id + 1)"
    ></app-button>
  </div>
</div>
<!-- <div class="detail-container">
</div> -->
