@use "../styles/colors.scss" as c;
.main-header {
  width: 100vw;
  height: 7vh;
  background: c.$gradient-card-bg;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  &__image {
    height: 6.5vh;
    width: 6.5vw;
    padding: 0;
    margin: 0;
    margin-left: 2vw;
    & > img {
      max-width: 100%;
      max-height: 100%;
    }

    &:hover {
      cursor: pointer;
    }
  }
  &__title {
    line-height: 2;
    padding: 0;
    margin: 0;
    font-size: 3vh;
  }
}
